/* FONT FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ALL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Code", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    min-height: 100vh;
}
/*******/

/* NAV BAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #96C9F4;

    .a {
        text-decoration: none;
        color: whitesmoke;
        padding: 1rem;
        transition: all 300ms ease;
    }

    .a:hover {
        color: #0F67B1;
    }

    .dropdown {
    position: relative;
    display: inline-block;

        button {
            font-family: "Roboto", "Fira Code", sans-serif;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 10px;
            position: relative;
            cursor: pointer;
            color: whitesmoke;
            background: transparent;
            padding: 1rem;
            border: 2px solid whitesmoke;
            border-radius: .3rem;
            z-index: 1;
            overflow: hidden;
        }

        .btn::before {
            content: "";
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 200%;
            left: 0;
            top: -200%;
            border-radius: 100%;
            background-color: #0F67B1;
            transition: all 600ms ease;
        }

        .btn:hover::before {
            top: 0;
            border-radius: 0;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #0F67B1;
            min-width: 200px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
        .dropdown-content a {
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            transition: all 300ms ease;
        }
        .dropdown-content a:hover {
            background-color: #96C9F4;
            color: whitesmoke;
        }
        .show {
            display: block;
        }
    }
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 2rem;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}

/***********/

/* FOOTER */
.footer-lay {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 1rem;
    background-color: #96C9F4;
    color: whitesmoke;
}
/**********/

/* FORM LOG & REG */
.log-reg-form {
    background-color: #0066ff50;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    gap: 1rem;

    input {
        padding: 1rem;
        border-radius: .3rem;
        border: none;
        outline: none;
        box-shadow: 0px 4px 4px #4d7cfc60;
    }

    button {
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        padding: 1rem 1.5rem;
        border: 2px solid #ffffff;
        border-radius: .3rem;
        background: transparent;
        color: #ffffff;
        z-index: 1;
        letter-spacing: 5px;
    }

    button::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 200%;
        left: 0;
        top: -200%;
        border-radius: 100%;
        background-color: #4d7cfc;
        z-index: -1;
        transition: all 400ms linear;
    }

    button:hover::before {
        border-radius: 0;
        top: 0;
    }

    p {
        color: royalblue;

        a {
            text-decoration: none;
            color: whitesmoke;
        }
    }
}

@media (max-width: 430px) {
    .log-reg-form {
        p {
            font-size: 13px;
        }
    }
}