/* GENERAL */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* NAVBAR */
.nav {
    position: fixed;

    min-width: 130px;
    height: 100%;

    background: #ffffff30;
    backdrop-filter: blur(6px);

    overflow: auto;
}

.nav__ul {
    list-style-type: none;

    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.nav__li {
    cursor: pointer;
    width: 100%;
    padding: 1.5rem;
    border-bottom: 2px solid #acfff800;

    transition: border-bottom 300ms ease;
    a {
        color: white;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
    }
}

.home {
    border: none;
    background-color: rgb(94, 164, 255);
}

.nav__li:hover:not(.home) {
    border-bottom: 2px solid whitesmoke;
}

/* Estilos del modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 60px;
}

.modal-content {
    margin: 20dvh auto;
    width: 100%;
    max-width: 500px;
    padding: 20px;

    border: 2px solid #ffffff;
    border-radius: 1rem;

    background: #008c96;

    h2 {
        text-align: center;
        margin-bottom: 1rem;
    }

    form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;

        input {
            border: none;
            width: 200px;
        }
    }

    p {
        text-align: center;
        a {
            text-decoration: none;
            color: rgb(0, 191, 255);
        }
    }

    div {
        display: flex;
        justify-content: center;
        gap: .5rem;
    }

    .modal-footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0;
    
        button {
            cursor: pointer;
    
            width: 120px;
            padding: 0.5rem 1rem;
            
            color: whitesmoke;
            border: 2px solid whitesmoke;
    
            background: transparent;
        }
    }

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}



/* MAIN LAYOUT */
.layout {
    margin-left: 130px;
}
