/* GENERAL */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* NAVBAR */
.nav {
    position: fixed;

    min-width: 130px;
    height: 100%;

    display: flex;
    justify-content: center;

    background: #ffffff30;
    backdrop-filter: blur(6px);

    overflow: auto;
}

.nav__ul {
    list-style-type: none;

    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.nav__li {
    width: 100%;
    padding: 1.5rem;
    border-bottom: 2px solid #acfff800;

    transition: border-bottom 300ms ease;
    a {
        color: white;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
    }
}

.home {
    border: none;
    background-color: rgb(94, 164, 255);
}

.nav__li:hover:not(.home) {
    border-bottom: 2px solid whitesmoke;
}

/* MAIN LAYOUT */
.layout {
    margin-left: 130px;
}
